/*

!.gitignore
!.github/
!README.adoc
!LICENSE
!makefile

!Assets/
Assets/*
!Assets/Bladder System/
!Assets/BS.unity
!Assets/BS (No VRCF).unity

!docs/

!Packages/
Packages/*
!Packages/manifest.json
!Packages/packages-lock.json
!Packages/vpm-manifest.json

