/*

!.gitignore
!README.adoc

!Assets/
Assets/*
!Assets/Bladder System/
!Assets/BS.unity
!Assets/BS (No VRCF).unity

!Packages/
Packages/*
!Packages/manifest.json
!Packages/packages-lock.json
!Packages/vpm-manifest.json

