/*

!/.gitignore
!/.github/
!/readme.adoc
!/license
!/makefile

!/Assets
!/docs

!/Packages/
/Packages/*
/Packages/.gitignore
Packages/com.vrchat.core.vpm-resolver/*
!/Packages/manifest.json
!/Packages/packages-lock.json
!/Packages/vpm-manifest.json
